img {
border-radius: 50px;
 height: 70px;
 width: 70px;
 border: solid  ;
 }
 h5 {
  background-color: lightblue;
  color: red;
 }
 body {  text-align-last: center;
 background: linear-gradient(45deg, red, lightGreen);
}
 padding: 40px;
 color: white;
 text-align: center;
 } .item { ;
 border-radius: 0px; 
 border:solid;
font-size: 100px;
 ;}
 a{color: blue;}
 h1{border: solid ;
 background-color: red;
 color: white;}
.row{border-radius: 0px; width: 200px;
height: 200px;
}
h3{ background: linear-gradient(45deg,orange,red) ;}
div{background-color: white;
margin-top: 20px;
font-size: 20px;
width: 100%;
color: black;
margin-right: 30px;}
a{color:white;}
.color{color:black;}